html,body {
    margin: 0;
    padding: 0;
    background-image: url("img/game-background-spooky-forest-fence-png.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  }

body {
    padding-top: 1em;
    background-color: #191919;
    color: #FFF;
    font-family: 'Creepster', cursive;
    text-align: center;
    background-size: cover;
    background-repeat: space;
  }

  canvas {
    background-color: black;
    width: 100%;
    height: 550px;
    padding-left: auto;
    padding-right: auto;   
    /* position: relative;
    z-index: 2;  */
  }

  
#gameContainer {
    max-width: 70em;
    height: 725px;
    background-color: white;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .20fr .5fr .20fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-center top-right"
                        "game game game"
                        "btm-left btm-center btm-right";
  }

  #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

 
  main {
    grid-area: game;
  }

   #gameTitle {
    grid-area: top-center;
    color: red;
    font-size: 30px;
    margin-bottom: -40px;
     /* filter: blur(3px) opacity(0.7);  */
   
  } 

#timer {
    
    color: red;
    font-size: 50px;
}

#rulesModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(35, 34, 34, 0.5);
    z-index: 1;
    display: none;
  }
  
  #rulesModal h1 {
    margin-top: 0;
  }
  
  #closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #startButton {
    /* grid-area: btm-left; */
  }

  #rulesButton {
    /* grid-area: btm-right; */
  }


  /* .fog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 87%;
    background-color: rgba(0, 0, 0, 0.5); /* set the overlay color and transparency */
    backdrop-filter: blur(3px); /* apply the blur effect */
    z-index: 1; /* make sure the overlay is on top of the canvas */
  }
   */